body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.nav {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  padding: 10px;
}

.nav-items {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin-right: 0 0 0 50px;
  font-weight: bold;
}

.logo {
  cursor: pointer;
  display: block; 
  margin-right: 20px; 
  width: 59px;
}
